<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Notes Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/style.css'>
</head>
<body>
    <h1>Welcome to Notes  Application made using Express </h1>
    <p>to get notes proceed to this link <a href="./notes">Notes</a></p>
</body>
</html>